# .gitignore
# Tommy Savaria
# Antoine Morin-Paulhus
# Pour Modèle de Rapport Gi - UdeS

# Ignore Everything
*

# Except...
!.gitignore
!*.tex
!*.bib
!*.bst
!Makefile

# But we can't keep this file in a public domain project
IEEEabrv.bib

# ...even if they are in subdirectories
!*/
